streamlit>=1.32.0
opencv-python>=4.9.0.80
numpy>=1.26.4
insightface>=0.7.3
chromadb>=0.4.24
python-dotenv>=1.0.1
langchain>=0.1.12
langchain-openai>=0.0.8
langgraph>=0.0.27
openai>=1.14.0
python-multipart>=0.0.9
uuid>=1.30
shutil-which>=3.1.0
gTTS
SpeechRecognition
PyAudio
pygame
simpleaudio
graphviz
tqdm